<div class="form-container">
  <h2>Signup</h2>

  <%=
    render partial: "users/form",
      locals: {
        user: @user,
        form_path: registrations_path,
        submit_button: "Signup",
      }
  %>

  <p class="info-text">
    Already have an account? <%= link_to "Login", new_login_path %>
  </p>
</div>

